.square-container {
    width: 259px;
    height: 259px;
    border: 2px solid $dark-grey;
    margin-top: 20px;
    border-radius: 3px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.square {
    border: 2px solid $dark-grey;
    border-radius: 3px;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}


